.categorytag {
    display: inline-block;
    color: green;
    background: honeydew;
    padding: 1px 5px;
    margin: 5px;
}

.nocategorytag {
    display: inline-block;
    color: black;
    background: lightyellow;
    padding: 1px 5px;
    margin: 5px;
}